<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <display-name>progetto-finale-corso-itconsulting</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>DeleteStudenteServlet</display-name>
    <servlet-name>DeleteStudenteServlet</servlet-name>
    <servlet-class>presentation.DeleteStudenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudenteServlet</servlet-name>
    <url-pattern>/DeleteStudenteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CorsoCtrl</display-name>
    <servlet-name>CorsoCtrl</servlet-name>
    <servlet-class>presentation.CorsoCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CorsoCtrl</servlet-name>
    <url-pattern>/CorsoCtrl</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AppelloCtrl</display-name>
    <servlet-name>AppelloCtrl</servlet-name>
    <servlet-class>presentation.AppelloCtrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AppelloCtrl</servlet-name>
    <url-pattern>/AppelloCtrl</url-pattern>
  </servlet-mapping>
</web-app>